.background-color-style-2 {
    background: radial-gradient(
        ellipse farthest-corner at right bottom,
        #fedb37 0%,
        #fdb931 8%,
        #9f7928 30%,
        #8a6e2f 40%,
        transparent 80%
      ),
      radial-gradient(
        ellipse farthest-corner at left top,
        #ffffff 0%,
        #ffffac 8%,
        #d1b464 25%,
        #5d4a1f 62.5%,
        #5d4a1f 100%
      )!important;
  }
  
  .background-color-style-1{
    background-image: linear-gradient(181deg, #000000 -50%, #b69200 49%) !important;
}

.primary-color{
  color: #f1c45c!important;
}